<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Manual template</title>
  </head>
  <body>
    <nav class="header">
      <div class="right-side">
          <a class="logo" href="https://github.com/JuanCamilo0509/Automatic_Zen_Garden">
            <img src="https://png.pngtree.com/png-vector/20240716/ourmid/pngtree-robotic-arm-png-image_13130331.png" alt="Not found">
          </a>
        <div class="project-info">
          <div class="colaborator">
            <h1>Project Name</h1>
            <div class="imgs">
              <a href="https://github.com/josedddd1234">
                <img src="https://avatars.githubusercontent.com/u/70914088?v=4" alt="Not">
              </a>
              <a href="https://github.com/JuanCamilo0509">
                <img src="https://avatars.githubusercontent.com/u/70924088?v=4" alt="Not">
              </a>
            </div>
          </div>
          <p>Description of the project from the README file.</p>
        </div>
      </div>
      <h1>
        V.1.1
      </h1>
    </nav>  
    <div class="wrap-content">
      <section class="features">
        <h2> Features </h2>
        <ol>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, beatae?</li>
          <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse eos assumenda nulla tempore animi laudantium blanditiis quam. Aliquid eos id deleniti optio voluptatibus quibusdam repudiandae, cum aperiam provident quis. Sequi!</li>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla aliquam facere, nam voluptate quasi beatae?</li>
        </ol>
      </section>
      <section>
        <!-- Don't forget to add an empty element: &nbsp -->
        <h2>Bom Table</h2>
        <table>
          <tr>
            <th>Item No.</th>
            <th>Part Number</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Supplier</th>
          </tr>
          <tr>
            <td>1</td>
            <td>MB-001</td>
            <td>Main Board</td>
            <td>1</td>
            <td>pcs</td>
            <td>ElectroTech</td>
          </tr>
          <tr>
            <td>2</td>
            <td>SC-045</td>
            <td>Screw M3x10</td>
            <td>12</td>
            <td>pcs</td>
            <td>FastenCo</td>
          </tr>
          <tr>
            <td>3</td>
            <td>CN-210</td>
            <td>Connector 8-pin</td>
            <td>2</td>
            <td>pcs</td>
            <td>WireLink</td>
          </tr>
          <tr>
            <td>4</td>
            <td>CB-500</td>
            <td>Power Cable</td>
            <td>1</td>
            <td>pcs</td>
            <td>CablePro</td>
          </tr>
        </table>
      </section>
      <section>
        <h2>Assembly</h2>
        <div class="steps-container">
          <div class="step"> 
          <!-- <div class="step rotate-step">  -->
            <img src="https://images.unsplash.com/photo-1579353977828-2a4eab540b9a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2FtcGxlfGVufDB8fDB8fHww" alt="Image not found in docs">
            <div class="description">
              <div class="counter">
                <h4>i/n</h4>
              </div>
              <h3>Step's Title</h3>
              <br>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia odit illum consectetur, eveniet est sapiente dolorum ab exercitationem, fuga dolorem hic esse et aliquam distinctio magni sit expedita nihil ut?</p>
            </div>
          </div>
        </div>
      </section>    
    </div>
  </body>
</html>
